@import './index.css';

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-center,
.header-right {
  flex: 1 0 33%;
  display: flex;
}

.header-center {
  justify-content: center;
}

.title {
  flex: 0 1 max-content;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--color-txt-primary-lite);
}

/* .cart-container {
  position: relative;
} */

.cart-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-panel {
  margin-top: 3rem;
  height: 30rem;
  width: 25rem;
  background-color: var(--color-txt-primary-lite);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.close-cart-btn {
  --btn-width: max-content;
  width: var(--btn-width);
  cursor: pointer;
  font-size: 2.5rem;
  position: relative;
  right: -90%;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.close {
  display: none;
}
