:root {
  --cart-bg-color: white;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.title,
.navbar {
  flex: 1 0 25%;
}

.cart {
  flex: 2 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-panel {
  height: 30rem;
  width: 50%;
  background-color: var(--cart-bg-color);
}

/* Cart transition animation */
.show {
  opacity: 1;
  transform: scaleY(1);
}
.hidden {
  opacity: 0;
  transform: scaleY(0.5);
}
.enter,
.leave {
  transition: opacity 0.2s ease-in, transform 0.2s ease-out;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}
