/* :root {
  --color-txt-primary-lite: #ffffcc;
  --color-bg-primary-dark: #121111;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.app-container {
  margin-top: 6rem;
}

/* 
body {
  color: var(--color-txt-primary-lite);
  background-color: var(--color-bg-primary-dark);
  min-width: 320px;
  min-height: 100vh;
}

.app-page {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
}

@media (prefers-color-scheme: light) {
  body {
    color: #fff;
    background-color: #000;
  }
} */
